// World Nomads Primary Header module

$nav-padding: 13px;

.Header {
    position: relative;
    width: 100%;
    height: $header-height;
    padding: $nav-padding 15px;
    background-color: rgba($color-mono-xxdark, .5);
    z-index: $zindex-header;

    @media screen and (min-width: 340px) {
        padding: $nav-padding 20px;
    }

    &-logo {
        margin-top: 2px;
    }

    &-nav {
        position: absolute;
        top: $nav-padding;
        right: 20px;
        bottom: $nav-padding;
        margin: auto;
        font-weight: $font-weight-bold;

        &Item {
            display: none;
            height: 40px;
            margin-right: 20px;
            padding: 8px 0;
            float: left;
            transition: color .1s ease-in-out;
            color: $color-mono-xxxlight;

            &:hover {
                color: $color-primary;
                text-decoration: none;
            }

            &:focus {
                outline: 5px auto $color-mono-xxxlight;
            }

            &.is-mobile {
                display: inline-block;
                margin-right: 5px;

                @media screen and (min-width: 340px) {
                    margin-right: 20px;
                }
            }

            @media screen and (min-width: 750px) {
                &.is-small {
                    display: inline-block;
                }
            }

            @media screen and (min-width: 832px) {
                &.is-medium {
                    display: inline-block;
                }
            }

            @media screen and (min-width: 1020px) {
                &.is-large {
                    display: inline-block;
                }
            }
        }
    }
}
