.learn-hero {
    background: url('/Media/Default/scholarships/wn-scholarships-index-herobg.jpg') no-repeat top center;
    background-size: cover;

    .learn-breadcrumb {
        margin-top: 0;
    }
}

.learn {
    &-promo-featured {
        .Promo-media {
            min-height: 280px;

            @media #{$medium-up} {
                min-height: 200px;
            }
        }
    }

    &-cta {
        margin-top: 20px;
    }

    &-subfeature-01 {
        .Promo-media {
            background-image: url('//cdn.worldnomads.net/Media/Default/scholarships/wn-scholarships-promo-1.jpg');
        }
    }

    &-subfeature-02 {
        .Promo-media {
            background-image: url('//cdn.worldnomads.net/Media/Default/scholarships/wn-scholarships-promo-2-v2.jpg');
        }
    }

    &-subfeature-03 {
        .Promo-media {
            background-image: url('//cdn.worldnomads.net/Media/Default/scholarships/wn-scholarships-promo-3.jpg');
        }
    }

    &-subfeature-04 {
        .Promo-media {
            background-image: url('//cdn.worldnomads.net/Media/Default/scholarships/wn-scholarships-promo-4.jpg');
        }
    }
}

.learn-promo {
    margin-top: 30px;

    &-subfeature {
        margin-bottom: 30px;
        background-position: top center;

        @media #{$medium-up} {
            background-position: center center;
        }

        .Promo-media {
            min-height: 280px;

            @media #{$medium-up} {
                min-height: 200px;
            }
        }

        @media #{$medium-up} {
            .Promo-content {
                min-height: 240px;
            }
        }

        @media #{$large-up} {
            .Promo-content {
                min-height: 270px;
            }
        }
    }

    &-featured {
        margin-bottom: 30px;
        background-image: url('//cdn.worldnomads.net/Media/Default/LearnImages/film2016/promopanel_tfs2016.jpg');
    }

    .learn-promo-link {
        color: $color-mono-xxxlight;
    }

    .Promo--minor {
        margin-bottom: 30px;
    }

    .Promo-content {
        @media #{$medium-up} {
            min-height: 225px;
        }

        @media #{$large-up} {
            min-height: 266px;
        }
    }

    &-cta {
        margin-top: 15px;
    }

    .Promo--video {
        margin-bottom: 30px;

        .Promo-media {
            display: block;
            width: 100%;
            min-height: 280px;
            background-image: url('//cdn.worldnomads.net/Media/Default/LearnImages/photo2016/wntps2016_thumb_PromoIMG.jpg');
            background-position: center;
            cursor: pointer;

            @media #{$medium-up} {
                display: table-cell;
                width: 50%;
                vertical-align: middle;
                min-height: 200px;
            }
        }

        .Promo-content {
            display: block;
            width: 100%;

            @media #{$medium-up} {
                display: table-cell;
                width: 50%;
            }
        }
    }
}

.learn-copy {
    &-subscribe {
        margin-top: 30px;
        padding: 25px 15px;

        @media #{$medium-up} {
            margin-top: 50px;
        }

        &-title {
            margin-top: 0;
            margin-bottom: .8rem;
        }

        &-input {
            margin-bottom: 20px;
        }

        &-options {
            list-style: none;
            margin: 0;
            padding-left: 0;

            > li {
                display: inline-block;
                width: 45%;
                min-width: 120px;
            }
        }

        &-submit {
            margin-top: 20px;
        }
    }
}

.learn-testimonial {
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $color-quarternary;

    &-quote {
        border-left: 0;
        padding-left: 0;
        color: $color-mono-xxxlight;
        font-size: 1.2rem;
        line-height: 1.3em;

        &-link {
            color: $color-mono-xxxlight;

            &:visited {
                color: $color-mono-xxxlight;
            }

            &:hover {
                color: $color-mono-xxxlight;
                text-decoration: underline;
            }
        }

        &::before {
            display: block;
            margin-bottom: -15px;
            font-size: 3.5rem;
            font-family: Sans-Serif;
            content: "\201C \201D";
        }

        @media #{$medium-up} {
            font-size: 1.5rem;

            &::before {
                font-size: 4.5rem;
            }
        }
    }

    .learn-testimonial-profile {
        width: 51px;
        margin-right: 15px;
        vertical-align: middle;
    }

    &-author {
        display: inline-block;
        color: $color-mono-xxxlight;
        vertical-align: middle;
    }

}
