<div class="zone zone-header">
    <article class="widget-testnav widget-header widget-kosmos-nav-widget widget">
        <div class="sticky-header" data-threshold="300">
            <a class="logo" href="/">World Nomads</a>
        </div>

        <div class="side-nav closed">
            <div class="signed-out">
                <div class="side-nav-list">
                    <ul>
                        <li class="side-nav-sign-in-form open">
                            <form action="/Member/SignIn?returnUrl=/Member" method="post" _lpchecked="1">
                                <div class="input-group full-width no-label">
                                    <input id="AuthenticationRequestDto_EmailAddress" name="AuthenticationRequestDto.EmailAddress" placeholder="Email address" type="text" value="">
                                </div>
                                <div class="input-group full-width no-label">
                                    <input id="AuthenticationRequestDto_Password" name="AuthenticationRequestDto.Password" placeholder="Password" type="password">
                                </div>
                                <div class="actions">
                                    <div class="input-group">
                                        <input type="hidden" id="after-sign-in-return-url" name="returnUrl">
                                        <button class="button-primary button primary">Sign in</button>
                                    </div>
                                    <div class="input-group forgotten-password">
                                        <a class="load-by-ajax" data-analytics-id="popup-forgot-password" href="/Member/ForgotPassword">Forgotten password?</a>
                                    </div>
                                    <div class="input-group verify-guest">
                                        <div class="verify-guest-query">
                                            Bought as a guest?
                                            <a data-analytics-id="verify-guest" href="/Member/VerifyGuest">Create an account</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="session-tokens"></div>
                            </form>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="/travel-insurance/" class="side-nav-a">
                            <span class="Icon--sml icon-wn-umbrella"></span>
                            <label>Travel Insurance</label>
                            <span class="description tablet-up">Simple &amp; flexible travel insurance for your next adventure.</span>
                            </a>
                        </li>
                        <li>
                            <a href="/travel-safety/" class="side-nav-a">
                            <span class="Icon--sml icon-wn-lightbulb"></span>
                            <label>Travel Smart</label>
                            <span class="description tablet-up">Insights to help you navigate the risks &amp; find the safer path.</span>
                            </a>
                        </li>
                        <li>
                            <a href="/explore" class="side-nav-a">
                            <span class="Icon--sml icon-wn-navigation"></span>
                            <label>Explore</label>
                            <span class="description tablet-up">Discover your next adventure with tips & advice from the locals.</span>
                            </a>
                        </li>
                        <li>
                            <a href="/learn/" class="side-nav-a">
                            <span class="Icon--sml icon-wn-book"></span>
                            <label>Scholarships</label>
                            <span class="description tablet-up">Opportunities to travel &amp; create.</span>
                            </a>
                        </li>
                        <li>
                            <a href="//answers.worldnomads.com" class="side-nav-a">
                            <span class="Icon--sml icon-wn-bubbles"></span>
                            <label>Community</label>
                            <span class="description tablet-up">Tap into the knowledge of other travellers or share your expertise.</span>
                            </a>
                        </li>
                        <li>
                            <a href="/make-a-difference" class="side-nav-a">
                            <span class="Icon--sml icon-wn-heart"></span>
                            <label>Change Lives</label>
                            <span class="description tablet-up">Discover how travellers have helped change peoples lives.</span>
                            </a>
                        </li>
                        <li>
                            <a href="//helpdesk.worldnomads.com" class="side-nav-a">
                            <span class="Icon--sml icon-wn-roaddirections"></span>
                            <label>Help Desk</label>
                            <span class="description tablet-up">Everything you need to know. We're here to help.</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="bottom-links">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="side-nav-arrow"></div>

        <div class="side-nav-toggle">
            <span></span>
        </div>

        <div class="side-nav-sign-in">
            <a class="login" href="https://www.worldnomads.com/Member/OpenSignIn">Sign In</a> <span class="existing-member">Existing Member?</span>
        </div>

        <div class="side-nav-close-panel"></div>

        <ul class="top-links">
            <li>
                <a href="http://service.worldnomads.com/">Help Desk</a>
            </li>

            <li class="hide-first">
                <a href="/make-a-difference">Change Lives</a>
            </li>

            <li class="hide-first">
                <a href="http://answers.worldnomads.com/">Community</a>
            </li>

            <li class="hide-second">
                <a href="/learn">Scholarships</a>
            </li>

            <li>
                <a href="http://www.worldnomads.com/travel-safety">Travel Smart</a>
            </li>

            <li>
                <a href="/travel-insurance">Travel Insurance</a>
            </li>
        </ul>
    </article>
</div>