.reveal-desk {
    &-qqc {
        max-width: 740px;

        #qqc {
            margin-top: 0;
            margin-bottom: 0;

            h1 {
                display: none;
            }
        }

        .qqc-container {
            .qqc-background {
                padding: 0;
                background: transparent;
            }
        }

        &-title {
            margin-bottom: 0;
            color: $color-mono-xxxlight;
        }

        .close-reveal-modal {
            top: 2px;
            right: 10px;
            color: $color-mono-xxxlight;
            font-size: 2.2rem;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.autocomplete {
    &.wn-insurance-quote-editor {
        z-index: 1006;
    }
}
