// Autocomplete style override

.left {
    &.autocomplete {
        margin-left: 0;

        li {

            &.selected {
                background-color: $color-primary;

                &:hover, &:active, &:focus {
                    background-color: $color-primary;
                }
            }

            &:hover, &:active, &:focus {
                background-color: $color-primary;
            }
        }
    }
}
