.footer {
    .left {
        max-width: 320px;

        .logo {
            float: none;
        }
    }

    .emailfooter {
        margin-top: 1rem;
        margin-bottom: 3rem;
        padding: 12px 16px;
        border: 1px solid $color-mono-light;
        color: $color-mono-xxxlight;

        &-intro {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        label {
            color: inherit;
        }
    }

    .social {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
}
