// iconBadge - SMACCS based module

.iconBadge {
    display: table;
    width: 72px;
    height: 72px;
    background-color: $color-mono-dark;

    &-icon {
        color: $color-mono-xxxlight;
        font-size: $h4-font-size;

        &::before {
            display: inline-block;
            padding-bottom: 8px;
        }
    }

    &--primary {
        background-color: $color-primary;
    }

    &--secondary {
        background-color: $color-secondary;
    }

    &--tertiary {
        background-color: $color-tertiary;
    }

    &--quarternary {
        background-color: $color-quarternary;
    }

    &--quinary {
        background-color: $color-quinary;
    }

    &-content {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        margin: auto;
        padding: 8px 6px;
        color: $color-mono-xxxlight;
        line-height: 1;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: $font-size-xsml;
        text-transform: uppercase;
		text-align: center;
    }

    &-fill {
        fill: $color-mono-xxxlight;
    }
}
