.SocialShare
    span.sharedcount.SocialShare-count
        .total.SocialShare-count-total
        p.SocialShare-count-share Shares
    button.SocialBtn.SocialBtn-facebook(data-sharetool='true')
        span.SocialBtn-label Facebook
        span.icon-wn-facebook
    button.SocialBtn.SocialBtn-twitter(data-sharetool='true')
        span.SocialBtn-label Twitter
        span.icon-wn-twitter
    button.SocialBtn.SocialBtn-pinterest(data-sharetool='true')
        span.icon-wn-pinterest-p
    button.SocialBtn.SocialBtn-googleplus(data-sharetool='true')
        span.icon-wn-google-plus
    button.SocialBtn.SocialBtn-linkedin(data-sharetool='true')
        span.icon-wn-linkedin
    button.SocialBtn.SocialBtn-stumbleupon(data-sharetool='true')
        span.icon-wn-stumbleupon
